.msgField {
    background-color: #41007d;
    border-radius: 15px;
    overflow-y: scroll;
    max-height: 500px;
    min-height: 200px;
    padding: 20px;
    margin-bottom: 20px;
}

.chatField {
    width: 450px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}